


body {
    background-color: lightblue;
	display:inline;
}
h1 {
    color: white;
    text-align: center;
	font-size: 60px;
}
p {
    font-family: Arial;
    font-size: 18px;
	color: white;
	width:45vw
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: grey;
}

li {
    float: left;
}

li a {
    display: block;                                                                          
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #white;
}

div {
	text-align: center;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 45px;
	color: white;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #88DFE8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #808080;
  color: black;
}

.topnav a.active {
  background-color: #;
  color: white; 
}

.transcript {
	height:320px;
	width:800px;
	border:1px solid;
	overflow:auto;
	margin:auto;
	border-color: white;
}

.photoshop {
	margin-right: 95VW;
}

.inglewood{
	width: 95vw;
}

.child{
	width: 95vw;
}

.social{
	width: 95vw;
}
.grid-4col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vh;
	border: 5px white solid;
}


.grid-colspan2-c {
	padding: 1em;
	grid-column-start: 3;
	grid-column-end: span 2;
	text-align: justify;
}
.grid-2col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
	border: 5px white solid;
}

.grid-colspan2-a {
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: center;
}

.grid-6col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border: 5px white solid;
}

.grid-colspan6-a {
	padding: 1em;
	grid-column-start: 1;
	grid-column-end: span 2;
	text-align: center;
}
	
.portrait {
	background-color: #EAEAEA;
	padding: 1em;
	grid-column-start: 2;
	grid-row-start:2;
	grid-column-end: span 1;
	text-align: justify;
}

h2 {
	color: white;
}
